$text-white: #ffffff;
$text-green: #77be1d;
$text-grey: #747474;
$text-blue: #4277ff;
$text-black: #000000;

$border-white: #ffffff;
$border-green: #77be1d;

$bg-green: #77be1d;
$bg-dark-blue: #171320;
$bg-black: #100D18;
$bg-white: #ffffff;


$input-silver: #c4c4c4;
